<h1>Product Information</h1>

<p class="success"><%= flash[:message] %></p>
<% puts flash[:message] %>

<p>ID: <%= @product.id %></p>
<p>Name: <%= @product.name %></p>
<p>Description: <%= @product.description %></p>
<p>Pricing: $<%= @product.pricing %></p>
<p>Category: <% if @product.category_id %>
				<%= @product.category.name %>
			<% end %></p>

<%= button_to 'Delete Product', @product, method: :delete, confirm: "Are you sure you want to delete this product?" %>

<p><%= link_to 'Edit Product Info', edit_product_path(@product) %></p>
<p><%= link_to 'All Products', products_path %></p>